uploads/uploads/*
db.sqlite3
__pycache__/
*.pyc
*.pyo
*.pyd
# Django runtime artifacts
static/
.cache/
celerybeat-schedule
*.pyo
*.pyd
venv/
.venv
.env
server-setup.txt
*.rdb
smms-project-304ac-firebase-adminsdk-fbsvc-54c852dcec.json
*.db
send_pending_logs.log
*.log
uploads/